# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pdb
*.mdb
*.opendb
*.VC.db

# Temporary files
*.tmp

# Other generated folders
.gradle/
ExportedObj/